/* You can add global styles to this file, and also import other style files */
*
  box-sizing: border-box
  font-family: sans-serif

.root
  display: flex
  flex-direction: column
  height: 100vh
  overflow-x: hidden

.nav
  .mat-list-item-content
    padding-left: 0 !important
    padding-right: 0 !important

.mat-drawer-container,
.mat-drawer-content
  flex-grow: 1
  overflow: visible !important

.mat-card
  margin-bottom: 16px
  padding: 16px 24px
