<section class="mat-card">
  <h1>{{ contentTextService.tellAboutYourself.mainTitle }}</h1>

  <p>{{ contentTextService.tellAboutYourself.text1 }}</p>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseNegativeTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseFutureTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.tellAboutYourself.text2 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="QUESTIONS"
      [phraseList]="translationsService.questions"
    ></app-phrases>
  </div>

  <p>{{ contentTextService.tellAboutYourself.text3 }}</p>

  <div class="row">
    <app-phrases
      [searchedPhrases]="ANSWERS"
      [phraseList]="translationsService.phrases"
    ></app-phrases>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.tellAboutYourself.listTitle }}</h2>

  <p>{{ contentTextService.tellAboutYourself.listDescription }}</p>

  <mat-list>
    <mat-list-item *ngFor="let textList of contentTextService.tellAboutYourself.list">
      <p *ngFor="let text of textList">
        {{ text }}
      </p>
    </mat-list-item>
  </mat-list>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.tellAboutYourself.text4 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="NEW_WORDS"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<!-- TODO: Как выглядят сущ. во мн. числе -->
<!-- TODO: Как выглядят артикли -->

<section class="mat-card">
  <p>{{ contentTextService.tellAboutYourself.text5 }}</p>

  <div class="row">
    <app-translations
      [searchedPhrases]="WORDS_1"
      [phraseList]="translationsService.words"
    ></app-translations>

    <app-translations
      [searchedPhrases]="WORDS_2"
      [phraseList]="translationsService.words"
    ></app-translations>

    <app-translations
      [searchedPhrases]="WORDS_3"
      [phraseList]="translationsService.words"
    ></app-translations>

    <app-translations
      [searchedPhrases]="WORDS_4"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>

  <app-lessons-navigation
    prevLink="/lesson-3"
    nextLink="/lesson-5"
  ></app-lessons-navigation>
</section>
