<section class="mat-card">
  <h1>{{ contentTextService.pronounDeclension.mainTitle }}</h1>

  <h2>{{ contentTextService.pronounDeclension.text1 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="PRONOUNCES"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.pronounDeclension.text2 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="PREPOSITIONS"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.pronounDeclension.text3 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="TRANSLATIONS"
      [phraseList]="translationsService.phrases"
    ></app-phrases>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.pronounDeclension.text4 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="ADJECTIVES"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.pronounDeclension.text5 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="QUESTIONS"
      [phraseList]="translationsService.questions"
    ></app-phrases>
  </div>
</section>

<div class="mat-card">
  <app-lessons-navigation
    prevLink="/lesson-5"
    nextLink="/lesson-7"
  ></app-lessons-navigation>
</div>
