<section>
  <h1>{{ contentTextService.pastEventsAndAdjectives.mainTitle }}</h1>

  <p>{{ contentTextService.pastEventsAndAdjectives.text1 }}</p>

  <app-phrases
    [searchedPhrases]="TRANSLATIONS"
    [phraseList]="translationsService.phrases"
  ></app-phrases>

  <p>{{ contentTextService.pastEventsAndAdjectives.text2 }}</p>

  <app-translations
    [searchedPhrases]="VERBS"
    [phraseList]="translationsService.words"
  ></app-translations>

  <p>{{ contentTextService.pastEventsAndAdjectives.text3 }}</p>

  <app-translations
    [searchedPhrases]="WORDS"
    [phraseList]="translationsService.words"
  ></app-translations>

  <p>{{ contentTextService.pastEventsAndAdjectives.text4 }}</p>

  <app-translations
    [searchedPhrases]="PHRASES"
    [phraseList]="translationsService.phrases"
  ></app-translations>

  <p>{{ contentTextService.pastEventsAndAdjectives.text5 }}</p>

  <app-phrases
    [searchedPhrases]="QUESTIONS"
    [phraseList]="translationsService.questions"
  ></app-phrases>
</section>

<app-lessons-navigation
  prevLink="/lesson-11"
  nextLink="/lesson-13"
></app-lessons-navigation>
