<section class="mat-card">
  <h1>{{ contentTextService.numbers.mainTitle }}</h1>

  <p>{{ contentTextService.numbers.text1 }}</p>

  <div class="row">
    <app-translations
      [searchedPhrases]="NUMBERS_1"
      [phraseList]="translationsService.words"
    ></app-translations>

    <app-translations
      [searchedPhrases]="NUMBERS_2"
      [phraseList]="translationsService.words"
    ></app-translations>

    <app-translations
      [searchedPhrases]="NUMBERS_3"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.numbers.text2 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="ADJECTIVES"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.numbers.text3 }}</h2>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseNegativeTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseFutureTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.numbers.text4 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="TRANSLATION"
      [phraseList]="translationsService.phrases"
    ></app-phrases>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.numbers.text5 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="MONTHS_1"
      [phraseList]="translationsService.words"
    ></app-translations>

    <app-translations
      [searchedPhrases]="MONTHS_2"
      [phraseList]="translationsService.words"
    ></app-translations>

    <app-translations
      [searchedPhrases]="MONTHS_3"
      [phraseList]="translationsService.words"
    ></app-translations>

    <app-translations
      [searchedPhrases]="MONTHS_4"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.numbers.text6 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="WORDS"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.numbers.text7 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="ORDERED_NUMBERS"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.numbers.text8 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="QUESTIONS"
      [phraseList]="translationsService.questions"
    ></app-phrases>
  </div>
</section>

<div class="mat-card">
  <app-lessons-navigation
    prevLink="/lesson-9"
    nextLink="/lesson-11"
  ></app-lessons-navigation>
</div>
