<section class="mat-card">
  <h1>{{ contentTextService.imperativeForm.mainTitle }}</h1>

  <p>{{ contentTextService.imperativeForm.text1 }}</p>

  <app-phrases
    [searchedPhrases]="QUESTIONS"
    [phraseList]="translationsService.questions"
  ></app-phrases>

  <p>{{ contentTextService.imperativeForm.text2 }}</p>

  <app-translations
    [searchedPhrases]="VERBS"
    [phraseList]="translationsService.words"
  ></app-translations>

  <p>{{ contentTextService.imperativeForm.text3 }}</p>

  <app-translations
    [searchedPhrases]="WORDS"
    [phraseList]="translationsService.words"
  ></app-translations>

  <p>{{ contentTextService.imperativeForm.text4 }}</p>

  <app-phrases
    [searchedPhrases]="TRANSLATIONS"
    [phraseList]="translationsService.phrases"
  ></app-phrases>

  <p>{{ contentTextService.imperativeForm.text5 }}</p>

  <app-translations
    [searchedPhrases]="IMPERATIVE"
    [phraseList]="translationsService.phrases"
  ></app-translations>

  <app-lessons-navigation
    prevLink="/lesson-10"
    nextLink="/lesson-12"
  ></app-lessons-navigation>
</section>
