<section class="mat-card">
  <h1>{{ contentTextService.ordinalNumbers.mainTitle }}</h1>

  <p>{{ contentTextService.ordinalNumbers.text1 }}</p>

  <div class="row">
    <app-translations
      [searchedPhrases]="ORDINAL_NUMBERS"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.ordinalNumbers.text2 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="SEASONS"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.ordinalNumbers.text3 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="PHRASES"
      [phraseList]="translationsService.phrases"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.ordinalNumbers.text4 }}</h2>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseNegativeTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseFutureTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.ordinalNumbers.text5 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="SIDES"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.ordinalNumbers.text6 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="QUESTIONS"
      [phraseList]="translationsService.questions"
    ></app-phrases>
  </div>
</section>

<div class="mat-card">
  <app-lessons-navigation
    prevLink="/lesson-14"
    nextLink="/lesson-16"
  ></app-lessons-navigation>
</div>
