<section class="mat-card">
  <h1>{{ contentTextService.food.mainTitle }}</h1>

  <p>{{ contentTextService.food.text1 }}</p>

  <app-phrases
    [searchedPhrases]="QUESTIONS"
    [phraseList]="translationsService.questions"
  ></app-phrases>

  <p>{{ contentTextService.food.text2 }}</p>

  <app-translations
    [searchedPhrases]="VERBS"
    [phraseList]="translationsService.words"
  ></app-translations>

  <p>{{ contentTextService.food.text3 }}</p>

  <app-translations
    [searchedPhrases]="WORDS"
    [phraseList]="translationsService.words"
  ></app-translations>

  <p>{{ contentTextService.food.text4 }}</p>

  <app-translations
    [searchedPhrases]="FOOD"
    [phraseList]="translationsService.words"
  ></app-translations>

  <p>{{ contentTextService.food.text5 }}</p>

  <app-translations
    [searchedPhrases]="TRANSLATIONS"
    [phraseList]="translationsService.phrases"
  ></app-translations>

  <p>{{ contentTextService.food.text6 }}</p>

  <app-phrases
    [searchedPhrases]="TRANSLATIONS"
    [phraseList]="translationsService.phrases"
  ></app-phrases>

  <p>{{ contentTextService.food.text7 }}</p>

  <app-phrases
    [searchedPhrases]="QUESTIONS_2"
    [phraseList]="translationsService.questions"
  ></app-phrases>

  <p>{{ contentTextService.food.text8 }}</p>

  <app-translations
    [searchedPhrases]="FINANCES"
    [phraseList]="translationsService.words"
  ></app-translations>
</section>

<app-lessons-navigation
  prevLink="/lesson-8"
  nextLink="/lesson-10"
></app-lessons-navigation>
