<section class="mat-card">
  <h1>{{ contentTextService.food.mainTitle }}</h1>

  <p>{{ contentTextService.food.text1 }}</p>

  <div class="row">
    <app-phrases
      [searchedPhrases]="QUESTIONS"
      [phraseList]="translationsService.questions"
    ></app-phrases>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.food.text2 }}</h2>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseNegativeTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseFutureTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.food.text3 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="WORDS"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.food.text4 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="TRANSLATIONS"
      [phraseList]="translationsService.phrases"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.food.text5 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="QUESTIONS_2"
      [phraseList]="translationsService.questions"
    ></app-phrases>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.food.text6 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="FOOD"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.food.text7 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="FINANCES"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<div class="mat-card">
  <app-lessons-navigation
    prevLink="/lesson-8"
    nextLink="/lesson-10"
  ></app-lessons-navigation>
</div>
