th
  text-transform: uppercase

td
  text-transform: capitalize

.table
  width: 100%

.row
  display: flex
  flex-wrap: wrap

.loader
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto

.col
  position: relative
  width: 100%
  margin-bottom: 16px

  @media screen and (min-width: 726px)
    width: calc(33.3333333% - 16px)
    margin-right: 16px

  @media screen and (min-width: 1024px)
    width: calc(33.3333333% - 16px)
