<section class="mat-card">
  <h1>{{ contentTextService.family.mainTitle }}</h1>

  <h2>{{ contentTextService.family.text1 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="WORDS"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.family.text2 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="PLACE_PRONOUNCES"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.family.text3 }}</h2>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseNegativeTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseFutureTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.family.text4 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="NUMBERS"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.family.text5 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="TRANSLATIONS"
      [phraseList]="translationsService.phrases"
    ></app-phrases>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.family.text6 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="FAMILY"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.family.text7 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="QUESTIONS"
      [phraseList]="translationsService.questions"
    ></app-phrases>
  </div>
</section>

<div class="mat-card">
  <app-lessons-navigation
    prevLink="/lesson-7"
    nextLink="/lesson-9"
  ></app-lessons-navigation>
</div>
