<header class="header">
  <mat-toolbar class="row">
    <a mat-button routerLink="/">Home</a>

    <app-navigation></app-navigation>

    <button
      class="example-icon"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</header>

<mat-drawer-container hasBackdrop [autosize]="true">
  <main class="inner">
    <router-outlet></router-outlet>
  </main>

  <mat-drawer #drawer mode="over" position="end">
    <app-settings-form></app-settings-form>
  </mat-drawer>
</mat-drawer-container>
