<section class="mat-card">
  <h1>{{ contentTextService.bodyParts.mainTitle }}</h1>

  <div class="row">
    <article>
      <h2>{{ contentTextService.bodyParts.text1 }}</h2>

      <app-translations
        [searchedPhrases]="BODY"
        [phraseList]="translationsService.words"
      ></app-translations>
    </article>

    <article>
      <h2>{{ contentTextService.bodyParts.text2 }}</h2>
    
      <div class="row">
        <app-translations
          [searchedPhrases]="COLORS"
          [phraseList]="translationsService.words"
        ></app-translations>
      </div>
    </article>
    
    <article>
      <h2>{{ contentTextService.bodyParts.text3 }}</h2>
    
      <div class="row">
        <app-translations
          [searchedPhrases]="CLOTHES"
          [phraseList]="translationsService.words"
        ></app-translations>
      </div>
    </article>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.bodyParts.text4 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="QUESTIONS"
      [phraseList]="translationsService.questions"
    ></app-phrases>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.bodyParts.text5 }}</h2>

  <div class="row">
    <app-phrases
      [searchedPhrases]="TRANSLATIONS"
      [phraseList]="translationsService.phrases"
    ></app-phrases>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.bodyParts.text6 }}</h2>

  <div class="row">
    <app-translations
      [searchedPhrases]="WORDS"
      [phraseList]="translationsService.words"
    ></app-translations>
  </div>
</section>

<section class="mat-card">
  <h2>{{ contentTextService.bodyParts.text7 }}</h2>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseNegativeTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>

  <div class="row">
    <app-conjugations
      *ngFor="let tense of baseFutureTenses"
      [searchedVerbs]="VERBS"
      [verbList]="conjugationsService[tense]"
      [wordList]="translationsService.words"
    ></app-conjugations>
  </div>
</section>

<div class="mat-card">
  <app-lessons-navigation
    prevLink="/lesson-13"
    nextLink="/lesson-15"
  ></app-lessons-navigation>
</div>
